<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/style.css">
    <title>homie-simulator</title>
  </head>
  <body>
  <div class="container" id=titleContainer>
    <div class="jumbotron">
      <h1 id="titleText">Homie Simulator</h1>
      </div>
      <div id=homieStats>
        <h3>Rest</h3>
        <br>
        <br>
        <br>
        <br>
        <h3>Hunger</h3>
        <br>
        <br>
        <br>
        <br>
        <h3>Joy</h3>
      </div>
      <img src="~/img/lil-homie.jpg" id="lilHomiePic" alt="picture of lil-homie">

      <div class="container" id="lilHomieContainer">
        <h1 id="lilHomieText">LIL' HOMIE</h1>
      </div>
      </div>
    <div class="container" id="buttonContainer">
      <button class="btn" type="submit">SLEEP</button>
      <button class="btn" type="submit">FEED</button>
      <button class="btn" type="submit">PLAY</button>
    </div>
  </body>
</html>
